force-app/main/default/flows/API_LOG_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Count_Logs</name>
        <label>Count  Logs</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NumberOfLogs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Selected_APILog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>All_Logs</name>
        <choiceText>All Logs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All Logs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Error_Logs</name>
        <choiceText>Error Logs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Error Logs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Success_Logs</name>
        <choiceText>Success Logs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Success Logs</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Log_Types</name>
        <label>Check Log Types</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Delete_All_API_Logs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All</defaultConnectorLabel>
        <rules>
            <name>Success_Logs2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Success_Logs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Success_Logs</targetReference>
            </connector>
            <label>Success Logs</label>
        </rules>
        <rules>
            <name>Eroor_Logs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Error_Logs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Error_Logs</targetReference>
            </connector>
            <label>Eroor Logs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_any_Record_APILog</name>
        <label>Is There any Record APILog?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_APILog</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Logs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>API LOG delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTS Delete API LOG Manually</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_All_API_Logs</name>
        <label>Delete All API  Logs</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_succes_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Error__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Error__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>API_Log__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Error_Logs</name>
        <label>Delete Error Logs</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_succes_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Error__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>API_Log__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>DeLete_selected_Record_APILog</name>
        <label>DeLete selected Record APILog</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>succes_screen</targetReference>
        </connector>
        <inputReference>Get_Selected_APILog</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Success_Logs</name>
        <label>Delete Success Logs</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_succes_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Error__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>API_Log__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Selected_APILog</name>
        <label>Get Selected APILog</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_any_Record_APILog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_screen</name>
        <label>Confirm screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DeLete_selected_Record_APILog</targetReference>
        </connector>
        <fields>
            <name>confirmToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do yOu want to DELETE selected Contact?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>YES</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_succes_screen</name>
        <label>Copy 1 of succes screen</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_successMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(36, 15, 230);&quot;&gt;API Logs has been Deleted.. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Log_Types</targetReference>
        </connector>
        <fields>
            <name>Select_Type</name>
            <choiceReferences>Success_Logs</choiceReferences>
            <choiceReferences>Error_Logs</choiceReferences>
            <choiceReferences>All_Logs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>succes_screen</name>
        <label>succes screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(36, 15, 230);&quot;&gt;{!NumberOfLogs} Contact has been  deLeted...&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Selected_APILog</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>deletedSuccessMsg</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfLogs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfSuccessLogs</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
