force-app/main/default/flows/PTS_Send_Interview_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Interview_Question</name>
        <label>Get Interview Question</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <actionName>PTSInterviewQuestionInv</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>PTSInterviewQuestionInv</nameSegment>
        <outputParameters>
            <assignToReference>output</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <actionName>PTSEmailInvoce</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>output</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailList</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>IQ deneme</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PTSEmailInvoce</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Get_Email_Addresses</name>
        <label>Get Email Addresses</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>PTS Send Interview Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTS Send Interview Questions</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Email_Addresses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Interview_Question</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
