force-app/main/default/flows/PTS_Notify_BEST_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Email</name>
        <label>send Email</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <actionName>PTSEmailInvoce</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Best_Contact_of_the_Month</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>ypu are THE BESTTTTT for week </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailList</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>from zero</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PTSEmailInvoce</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_Email2</name>
        <label>send Email</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <actionName>PTSEmailInvoce</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>you are the BEST for MONTH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailList</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>the best for Month</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PTSEmailInvoce</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Email_Collection</name>
        <label>Add Email Collection</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Best_Contact_of_the_Month.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_Email2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Collection</name>
        <label>Add Email to Collection</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Best_Contact_of_the_Week.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isFirstDay2</name>
        <label>isFirstDay?</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_its_First_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isFirstday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Best_Contact_of_the_Month.This_Month__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_Collection</targetReference>
            </connector>
            <label>Yes,its First Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>isMonday2</name>
        <label>isMonday?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Get_Best_Contact_of_the_Month</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_s_Monday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMonday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Best_Contact_of_the_Week.This_Week__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_to_Collection</targetReference>
            </connector>
            <label>Yes,it&apos;s Monday</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isFirstday</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY())=1</expression>
    </formulas>
    <formulas>
        <name>IsMonday</name>
        <dataType>Boolean</dataType>
        <expression>WEEKDAY(TODAY())=2</expression>
    </formulas>
    <interviewLabel>PTS Notify BEST Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTS Notify BEST Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Best_Contact_of_the_Month</name>
        <label>Get Best Contact of the Month</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isFirstDay2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>This_Month__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>This_Month__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Best_Contact_of_the_Week</name>
        <label>Get Best Contact of the Week</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isMonday2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>This_Week__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>This_Week__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Best_Contact_of_the_Week</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-30</startDate>
            <startTime>22:43:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
