force-app/main/default/flows/PTS_Update_Quizzes_Manually.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PTSQuizInvocable</name>
        <label>PTSQuizInvocable</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>PTSQuizInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>successMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>PTSQuizInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>PTS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTS Update Quizzes Manually</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>APIKey__c</field>
            <value>
                <stringValue>PTS Update Quizzes Manually </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APIName__c</field>
            <value>
                <stringValue>PTS Update Quizzes Manually </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Error__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>successMessage</name>
        <label>successMessage</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(39, 153, 24);&quot;&gt;Quizzes updated Successfully&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PTSQuizInvocable</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
