force-app/main/default/flows/Update_User_Current_Month_Dates_Daily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PFH_user_Current_Month_Dates_Invocable</name>
        <label>PFH user Current Month Dates Invocable</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>PFHuserCurrentMonthDatesInv</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>PFHuserCurrentMonthDatesInv</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>PFHuserCurrentMonthDatesInv {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Current Month Dates Daily</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>error_Log</name>
        <label>error Log</label>
        <locationX>440</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>APIKey__c</field>
            <value>
                <stringValue>PFHuserCurrentMonthDatesInv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APIName__c</field>
            <value>
                <stringValue>PFHuserCurrentMonthDatesInv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Error__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Title__c</field>
            <value>
                <stringValue>error at PFHuserCurrentMonthDatesInv </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageBody__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PFH_user_Current_Month_Dates_Invocable</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-27</startDate>
            <startTime>01:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
